@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

// Colors
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%) !default;

$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

// Typography
$font-family-manrope: 'Manrope', sans-serif;
$font-size-base: 1.75rem;
$font-size-lg: 2rem;

$font-weight-regular: 400;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1440px;

